<script>
  var beeketing_app_vars = <?php /* @noEscape */ echo $block->getJSAppData(); ?>
</script>
<script>
  require.config({
    map: {
      '*': {
        'analytics': "<?php echo $block->getAnalyticsUrl() ?>",
        'app': "<?php echo $block->getDashBoardUrl() ?>",
      },
      shim: {
        "app": {
          "deps": [
            'analytics'
          ]
        }
      },
    }
  });
  require(['analytics', 'app'], function (analytics, initTracking) {
    window.analytics = analytics;
    initTracking();
  });
</script>

<div id="bkt__wapper">
    <!-- Content here -->
</div>
